textarea,
input,
.yORn,
.next,
select{
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    line-height: 1.5;
    align-self: center;
    margin: 5px;
    width: 100%;
    height:50px;
    text-align: center;
}
p,
h1,
h2{
    align-self: center;
    text-align: center;
}
p{
    font-size: 1rem;
}
.yORn,
.next,
select{
    color: black;
    font-weight: 500;
    font-size: 2rem;
}

textarea:hover,
input:hover,
button:hover {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}

button:hover {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}

input {
    width: 100%; /* Set width to 100% for better responsiveness on smaller screens */
    box-sizing: border-box; /* Include padding and border in the width */
}
.up,
.down{
    align-self: center;
    height: 100px;
    width: 50%;
    font-size: 2rem;
}
.down{
    background-color: rgba(165, 42, 42, 0.4);
}
.up{
    background-color: rgba(0, 0, 255, 0.4);
}
.scoreDisplay{
    font-size: 2rem;
}
.red{
    background-color: rgba(255, 0, 0, 0.41);
}
.blue{
    background-color: rgba(0, 0, 255, 0.4);
}
/* Add media query for screens with a maximum width of 600px (adjust as needed) */
@media only screen and (max-width: 600px) {
    textarea,
    input,
    .yORn,
    .next{
        width: 100%; /* Set width to 100% for better responsiveness on smaller screens */
    }
}
